{
  "extends": "eslint:recommended",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/indent": "off",
    "array-bracket-spacing": [ "error", "never"],
    "no-unused-vars": "off"
  }
}
